.container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(110%, 50px);
  display: flex;
  flex-direction: column;
}

.logo {
  img {
    width: 80px;
  }
}

.authBtn {
  width: 100%;
  padding: 15px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  color: black;
  font-size: 16px;
  user-select: none;
  background-color: transparent;
}

@media (min-width: 1100px) {
  .authBtn {
    font-size: 18px;
    .icon {
      height: 25px;
      width: auto;
    }
  }
}
