.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}

.container::-webkit-scrollbar {
  display: none;
}

.createButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  background-color: #118df0;
  border-radius: 25px;
  height: 23px;
  width: 70px;
  border: none;
  font-weight: 500;
}
