.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #f4f4f4;
  padding: 20px;
  margin-top: auto;
}

.info {
  display: flex;
  column-gap: 10px;
  flex-direction: column;
  span {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
  }
}

.buyButton {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #118df0;
}

@media (min-width: 1100px) {
  .container {
    padding: 15px 20px 40px 20px;
  }
}
