@use "../../../global-styles/variables.scss" as *;

.container {
  width: 100%;
  padding: 0 20px;
  margin-top: -15px;
}

.inputContainer {
  width: 100%;
  border-radius: 50px;
  display: flex;
  background-color: #f8f8f8;
  height: 35px;
  align-items: center;
  padding: 0 15px;
  input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
  }

  input::placeholder {
    color: $app-grey-color;
  }
}
