.container {
  padding-top: 30px;
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
}

.title {
  color: black;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.container::-webkit-scrollbar {
  display: none;
}
