.container {
  max-width: 900px;
  position: relative;
  margin: auto;
  height: 100dvh;
  background-color: white;
  padding-bottom: 60px;
}

@media (min-width: 1100px) {
  .container {
    padding-top: 50px;
  }
}
