@use "../../../global-styles/variables.scss" as *;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.images {
  display: flex;
  height: 120px;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  column-gap: 10px;

  &.empty {
    justify-content: center;
  }
}

.addButton {
  height: min-content;
  padding: 15px;
  border: none;
  background-color: transparent;
  flex-shrink: 0;
  span {
    color: $app-black-color;
    font-size: 12px;
  }
}

.imgContainer {
  height: 100%;
  width: 85px;
  position: relative;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
  .removeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.images::-webkit-scrollbar {
  display: none;
}

.error_counter {
  display: flex;
  column-gap: 20px;
  .errorMsg {
    margin-top: 1px;
  }
}

.counter {
  color: $app-grey-color;
  font-size: 14px;
  align-items: center;
}
