#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #118df0;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

#nprogress .peg {
  box-shadow: 0 0 10px #118df0, 0 0 5px #118df0;
}

#nprogress .spinner {
  display: none; /* Hide spinner if you prefer just the bar */
}
